<div class="row mb-3">
  <div class="col-md-12">
      <h2 class="text-center">Create a new Job</h2>
  </div>
  <div class="col-md-6">
    <h6 class="text-center">Job Information</h6>
    <form [formGroup]="fg" (ngSubmit)="createJob()">
      <div class="form-group">
        <label for="inputAddress">Job Title</label>
        <input type="text" class="form-control" formControlName="title" id="title" placeholder="E.g Sales Manager">
        <small id="passwordHelpBlock" class="form-text text-danger"  *ngIf="!fg.controls['title'].valid && fg.controls['title'].touched" >
             job title is mandatory
        </small>
      </div>
      <div class="form-group">
        <label for="inputAddress">Job Summary</label>
        <textarea name="" class="form-control" formControlName="summary" id="" cols="30" rows="5"></textarea>
        <small *ngIf="!fg.controls['summary'].valid && fg.controls['summary'].touched" id="passwordHelpBlock" class="text-danger">
          summary is mandatory
          </small>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Job Type</label>
          <select name="" id="" formControlName="type_id" class="form-control">
             <option [ngValue]="null" disabled>Choose type</option>
            <option [ngValue]="type.id" *ngFor="let type of types">{{ type.name }}</option>
          </select>
            <small  *ngIf="!fg.controls['type_id'].valid && fg.controls['type_id'].touched" id="passwordHelpBlock" class="form-text text-danger">
                job type is mandatory
            </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Level Required</label>
          <select   name="level_id" id="level_id" formControlName="level_id" class="form-control"  placeholder="Level">
             <option [ngValue]="null" disabled>Choose level</option>
            <option [ngValue]="level.id" *ngFor="let level of levels">{{ level.name }}</option>
          </select>
            <small  *ngIf="!fg.controls['level_id'].valid && fg.controls['level_id'].touched" id="passwordHelpBlock" class="form-text text-danger">
              level of job is mandatory
            </small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Salary</label>
        <input type="text" formControlName="price" class="form-control" id="price" placeholder="Eg. 4000">
        <small  *ngIf="!fg.controls['price'].valid && fg.controls['price'].touched" id="passwordHelpBlock" class="form-text text-danger ">
          Price is mandatory
        </small>
      </div>
      <div class="form-group">
        <label for="closing_date">Application Dead Line</label>
        <!-- <input type="date" class="form-control" id="closing_date" placeholder="Closing Date for Application"> -->
              <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" formControlName="closing_date"  ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                          <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
              </div>
          <small *ngIf="!fg.controls['closing_date'].valid && fg.controls['closing_date'].touched" id="closing_date" class="form-text text-danger">
             Application dead-line is compulsory
          </small>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
  <div class="col-md-6">
      <h6 class="text-center">Job Description(s)</h6>
      <button (click)="open(content)" class="btn btn-primary btn-round float-md-right add-mg">+</button>
      <ul class="list-group">
          <li class="bg-secondary list-group-item">Cras justo odio Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, voluptatem. <span class="bg-danger">x</span></li>
          <li class="bg-primary list-group-item">Dapibus ac facilisis in</li>
          <li class="bg-info list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
      </ul>
  </div>
</div>




<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Description</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <textarea name="name" class="form-control" rows="8" cols="80" placeholder="Eg. Responsible for enrollment."></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="!fg.valid" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
