<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',backdropBackgroundColour: '#fff', primaryColour: '#000',
    secondaryColour: '#000',
    tertiaryColour: '#000'  }"></ngx-loading> -->
<div class="row mb-3">

  <div class="col-md-12">
      <h2 class="text-center">Create a new Job</h2>
  </div>
  <div class="col-md-6">
    <h6 class="text-center">Job Information</h6>
    <form [formGroup]="fg" (ngSubmit)="createJob()">
      <div class="form-group">
        <label for="inputAddress">Job Title</label>
        <input type="text" class="form-control" formControlName="title" id="title" placeholder="E.g Sales Manager">
        <small id="passwordHelpBlock" class="form-text text-danger"  *ngIf="!fg.controls['title'].valid && fg.controls['title'].touched" >
             job title is mandatory
        </small>
      </div>
      <div class="form-group">
        <label for="inputAddress">Job Summary</label>
        <textarea name="" class="form-control" formControlName="summary" id="" cols="30" rows="5"></textarea>
        <small *ngIf="!fg.controls['summary'].valid && fg.controls['summary'].touched" id="passwordHelpBlock" class="text-danger">
          summary is mandatory
          </small>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Job Type</label>
          <select name="" id="" formControlName="type_id" class="form-control">
            <option [ngValue]="null" disabled>Choose type</option>

            <option [ngValue]="type.id" *ngFor="let type of types">{{ type.name }}</option>
          </select>
            <small  *ngIf="!fg.controls['type_id'].valid && fg.controls['type_id'].touched" id="passwordHelpBlock" class="form-text text-danger">
                job type is mandatory
            </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Level Required</label>
          <select   name="level_id" id="level_id" formControlName="level_id" class="form-control"  placeholder="Level">
             <option [ngValue]="null" disabled>Choose level</option>
            <option [ngValue]="level.id" *ngFor="let level of levels">{{ level.name }}</option>
          </select>
            <small  *ngIf="!fg.controls['level_id'].valid && fg.controls['level_id'].touched" id="passwordHelpBlock" class="form-text text-danger">
              level of job is mandatory
            </small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Salary</label>
        <input type="text" formControlName="price" class="form-control" id="price" placeholder="Eg. 4000">
        <small  *ngIf="!fg.controls['price'].valid && fg.controls['price'].touched" id="passwordHelpBlock" class="form-text text-danger ">
          Price is mandatory
        </small>
      </div>
      <div class="form-group">
        <label for="closing_date">Application Dead Line</label>
        <!-- <input type="date" class="form-control" id="closing_date" placeholder="Closing Date for Application"> -->
              <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp" formControlName="closing_date"  ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                          <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                        </button>
                    </div>
              </div>
          <small *ngIf="!fg.controls['closing_date'].valid && fg.controls['closing_date'].touched" id="closing_date" class="form-text text-danger">
             Application dead-line is compulsory
          </small>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
  <div class="col-md-6">
      <h6 class="text-center">Job Description(s)</h6>
      <button (click)="open(content)" class="btn btn-primary btn-round float-md-right add-mg">+</button>
      <ul class="list-group">
          <li class="bg-primary list-group-item" *ngFor="let des of list,let index = i">
            {{ des.name}}
            <span> <button type="button" (click)="removeDescription(i)" name="button">X</button> </span>
          </li>
      </ul>

  </div>
</div>




<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Job Description(s)</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
    <h4>Add customer</h4>
    <button type="button" (click)="addDescription()" class="btn btn-primary" name="button">Add</button>
      <label>Descriptions</label>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
      <!-- we will place our fields here -->

      <!-- list of addresses -->
      <div formArrayName="addresses">
          <div *ngFor="let address of myForm.controls.addresses.controls; let i=index">
              <!-- address header, show remove button when more than one address available -->
              <div>
                  <span>Address {{i + 1}}</span>
                  <span *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeDescription(i)">
                  </span>
              </div>

              <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
              <div [formGroupName]="i">
                  <!--street-->
                  <div>
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="name" placeholder="New Description">
                        <span class="input-group-btn">
                          <button class="btn btn-danger" (click)="removeDescription(i)" type="button">x</button>
                        </span>
                      </div>
                      <!--display error message if street is not valid-->
                      <!-- <small [hidden]="myForm.controls.addresses.controls[i].controls.street.valid">
                          Street is required
                      </small> -->
                  </div>
                  <!--postcode-->
                  <!-- <div>
                      <label>postcode</label>
                      <input type="text" formControlName="postcode">
                  </div> -->
              <div>
          </div>
          </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2" [disabled]="!myForm.valid">Save</button>
  </form>
</div>
     <!-- <button type="button" class="btn btn-primary mb-2" (click)="add()" name="button">Add</button>
     <div class="input-group">
       <input type="text" class="form-control" placeholder="">
       <span class="input-group-btn">
         <button class="btn btn-secondary" type="button">x</button>
          <button class="btn btn-secondary" type="button">+</button>
       </span>
     </div> -->
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="!myForm.valid" (click)="c('Close click')">Save</button>
    <button type="button" class="btn btn-outline-dark" [disabled]="!myForm.valid" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
