<!-- <div class="row">
    <div class="col-md-6">
      <h5>{{title}}</h5>
       {{text}}
    </div>
    <div class="col-md-6">
        <img class="img-fluid" [src]="'assets/img/{{image}}'" alt="some nice logo"/>
    </div>
</div -->

<div class="row">
     <div class="col-md-6">
        <h5>{{title}}</h5>
        <p>  {{text}} </p>
     </div>
     <div class="col-md-6">
        <div class="col-md-6">
            <!-- <img class="img-fluid" [src]="'assets/img/{{image}}'" alt="some nice logo"/> -->
        </div>
     </div>
</div>
