<div class="row" [ngClass]="color">
  <div class="col-md-6" >
    <h5 *ngIf="RightPosition">{{title | titlecase}}</h5>
    <p  *ngIf="RightPosition">  {{text | lowercase}} </p>
    <img  *ngIf="LeftPosition" class="img-fluid" [src]="'assets/img/'+image" alt="some nice logo"/>
  </div>
  <div class="col-md-6">
      <h5 *ngIf="LeftPosition">{{title | titlecase}}</h5>
      <p  *ngIf="LeftPosition">  {{text | lowercase}} </p>
    <img  *ngIf="RightPosition" class="img-fluid" [src]="'assets/img/'+image" alt="some nice logo"/>
  </div>
</div>
