<div class="row">
  <!-- <small>{{ job.title }}</small>
  <p>{{ job.summary }}</p>
  <button (click)="Jobselect(job)" class="btn btn-primary">Details

  </button> -->
  <div class="col-md-2">
        <img width="52" src="assets/img/gnpc.jpg" alt="image">
  </div>
  <div class="col-md-10">
     <div class="row">
       <div class="col-md-12">
           <div class="row">
                <div class="col-md-10">
                           <h5> <a>{{ job.title }}</a> </h5>
                </div>
                <div class="col-md-2">
                        <i class="fa fa-heart-o text-success" aria-hidden="true"></i>
                </div>
           </div>
           <div class="row">
                <div class="col-md-8">
                           <h6><small>Brikama</small></h6>
                </div>
                <div class="col-md-4">
                     <small> 3 days ago</small> 
                </div>
           </div>


       </div>

     </div>

  </div>
</div>
