<div class="row">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12 py-2">
        <div class="row">
          <div class="col-md-3">
            <img [src]=" 'http://localhost:8000/storage/'+user?.avatar" alt="" style="width: 69px">
          </div>
          <div class="col-md-9">
            <h6>{{ user?.name }}@{{ user?.email}}</h6>
            <div class="row">
                 <div class="col-md-12">
                    <span *ngIf="user?.skills.length <=0 " class="badge badge-info ml-2 mr-1">
                        {{ 'None' }}
                  </span>
                    <span *ngFor="let skill of user?.skills" class="badge badge-info ml-2 mr-1">
                        {{ skill.name }}
                      </span>
                 </div>
            </div>
            <a class="btn btn-primary">View all information</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>WORK EXPERIENCE</h4>
          <div class="row">
            <div class="col-md-12">
              Web Designer -- volo senegal 2001-2009 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Projct Manager -- volo senegal 2001-2009 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              CEO Founder -- volo senegal 2001-2009 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>EDUCATION</h4>
          <div class="row">
            <div class="col-md-12">
              Latrikunda Upper Basic 2007-2010 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              St Augustines High 2007-2010 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              UTG 2011-2015 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>HONORS AND AWARDS</h4>
          <div class="row">
            <div class="col-md-12">
              President , ITCA, 2001 - 2018
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Projct Manager -- volo senegal 2001-2009 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              CEO Founder -- volo senegal 2001-2009 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, voluptas.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>