
<div class="row">
     <div class="col-md-12">
          <h5>Perosonal Information</h5>
     </div>
    <div class="col-md-6 bg-light ">
       <div class="row">
          <div class="col-md-12">
              <img  [src]=" 'http://localhost:8000/storage/'+user?.avatar" alt="">
          </div>
       </div>
        <div class="row">
            <div class="col-md-12">
                    <image-upload
                    (removed)="onRemoved($event)"
                    (uploadFinished)="onUploadFinished($event)"
                    (uploadStateChanged)="onUploadStateChanged($event)"
                    ></image-upload>
               <!-- <img src="assets/img/man-156584_640.png" alt=""> -->
               <button class="btn btn-primary my-2 btn-sm" (click)="uploadImg()">Upload</button>
            </div>
         </div>
    </div>
    <div class="col-md-6">
        <div class="row">
             <div class="col-md-12">
                    <div class="row">
                            <div class="col-md-12">
                                <span> <b>Name:</b></span> {{ user.name | titlecase}}<br/>
                                <span> <b>Email:</b></span> {{user.email}}<br/>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                               <span> <b>Skills:</b> </span>
                               <span *ngFor="let skill of user?.skills" class="badge badge-primary mr-1 ml-1">{{ skill.name }}</span>
                          </div>
                          <!-- <div class="col-md-12">
                                <span> <b>Password:</b>  </span>  <a href="#">Change Password</a>
                          </div> -->
                        </div>
                    <!-- <img  [src]=" 'http://localhost:8000/storage/'+user?.avatar" alt=""> -->
             </div>
        </div>
    </div>
    <div class="col-md-12">
            <h5>More Information</h5>
       </div>
    <div class="col-md-6">
          <div class="row">
                <div class="col-md-12">
                       <h3>List of Education for Me
                          <button type="button" name="button"
                          (click)="openModal(template)"
                           class="btn btn-primary">+</button>
                       </h3>
                       <div class="row">
                            <div class="col-md-12">
                                    <app-education-list></app-education-list>
                            </div>
                       </div>
                </div>
                <div class="col-md-12">
                       <h3>List of Experences for Me
                          <button type="button" name="button"
                              (click)="openModal(experienceTemplate)"
                           class="btn btn-primary">+</button>
                       </h3>
                       <div class="row">
                            <div class="col-md-12">
                                    <app-experience-list></app-experience-list>
                            </div>
                       </div>
                </div>
                <div class="col-md-12">
                       <h3>List of Skills
                          <!-- <button type="button" name="button"
                              (click)="openModal(skillsTemplate)"
                           class="btn btn-primary">+</button> -->
                       </h3>
                       <div class="row">
                            <div class="col-md-12">
                                    <app-skills></app-skills>
                            </div>
                       </div>
                </div>
          </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Eduction</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <app-education-item></app-education-item>
  </div>
</ng-template>
<!-- <ng-template #skillsTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Skills</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
              <app-skills></app-skills>
      </div>

  </div>
</ng-template> -->

<ng-template #experienceTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Experience</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <app-experience-item></app-experience-item>
  </div>
</ng-template>
