<div class="container-fluid first-section text-center">
  <h1>Tekkil</h1>
  <p>Every Gambian deserves a job!</p>
   <div class="row justify-content-md-center">
          <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6 float-right mb-2">
                        <button class="btn btn-success">Post a job</button>
                     </div>
                     <div class="col-md-6 float-left">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Password">
                            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                          </div>
                     </div>
                </div>
          </div>
   </div>
</div>
<div class="container">
  <!-- <app-section [title]="this amazing" [image]="notebook-1280538_1920.jpg" [text]="hello world">

  </app-section> -->
  <app-section [color]="'bg-light'" [title] = "'this is really cool 1'" [LeftPosition]="true"  [image]="'notebook-1280538_1920.jpg'" [text]="'this is a test and i love it 1'"></app-section>
  <app-section [color]="'bg-primary'" [title] = "'this is really cool 2'" [RightPosition]="true" [image]="'notebook-1280538_1920.jpg'" [text]="'this is a test and i love it 2'"></app-section>

  <div class="row">
    <div class="col-md-12 text-center">
      <h5>Current jobs</h5>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>SectionComponent
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
      </div>

    </div>
  </div>
  <app-job-resumes-icon-card-list></app-job-resumes-icon-card-list>



</div>


<app-footer></app-footer>
