<div class="container-fluid first-section text-center">
  <h1>Tekkil</h1>
  <p>Every Gambian deserves a job!</p>
   <div class="row justify-content-md-center">
          <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6 float-right mb-2">
                        <button class="btn btn-success">Post a job</button>
                     </div>
                     <div class="col-md-6 float-left">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Password">
                            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                          </div>
                     </div>
                </div>
          </div>
   </div>
</div>
<div class="container">
  <!-- <app-section [title]="this amazing" [image]="notebook-1280538_1920.jpg" [text]="hello world">

  </app-section> -->
  <div class="row">
          <div class="col-md-6">
            <h5>Why look to the Gambians?</h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aspernatur laborum ipsa, odio, repudiandae placeat cumque,
            saepe maiores illo voluptates deserunt molestias similique molestiae. Sunt et ipsa consequatur qui ea temporibus laboriosam
            reprehenderit ad exercitationem fugit, perferendis natus necessitatibus ex!
          </div>
          <div class="col-md-6">
              <img class="img-fluid" src="assets/img/notebook-1280538_1920.jpg" alt="some nice logo">
          </div>
  </div>
  <div class="row">
      <div class="col-md-6">
            <img class="img-fluid" src="assets/img/notebook-1280538_1920.jpg" alt="some nice logo">
      </div>
      <div class="col-md-6">
          <h5>Why look to the Gambians?</h5>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aspernatur laborum ipsa, odio, repudiandae placeat cumque,
          saepe maiores illo voluptates deserunt molestias similique molestiae. Sunt et ipsa consequatur qui ea temporibus laboriosam
          reprehenderit ad exercitationem fugit, perferendis natus necessitatibus ex!
      </div>
    </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h5>Current jobs</h5>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>SectionComponent
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <button type="button" class="btn btn-primary  btn-block">
                Notifications <span class="badge badge-light">4</span>
              </button>
        </div>
      </div>

    </div>
  </div>
  <app-job-resumes-icon-card-list></app-job-resumes-icon-card-list>



</div>
