<div class="row">
  <div class="col-md-3">
      <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> My Info</li>
          <li class="list-group-item">Subcriptions</li>
          <li class="list-group-item">Password & Security</li>
          <li class="list-group-item">Notification Settings</li>
          <li class="list-group-item">Members & Permissions</li>
        </ul>
  </div>
  <div class="col-md-9">
        <div class="row bg-primary" style="height: 500px">

        </div>
  </div>
</div>