<div class="row">
  <div class="col-md-3">
      <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i><a href="#"> My Info </a></li>
          <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i><a href="#"> Subcriptions </a></li>
          <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i><a href="#">Password & Security </a></li>
          <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i><a href="#"> Notification Settings </a></li>
          <li class="list-group-item"><i class="fa fa-group" aria-hidden="true"></i><a href="#"> Members & Permissions </a></li>
        </ul>
  </div>
  <div class="col-md-9">
        <div class="row bg-primary" style="height: 500px">

        </div>
  </div>
</div>